.wrapper{
    margin-top: 150px;
}

.mostly{
    width: 640px;
    height: 400px;
    background-color: #76aa31;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.mostly-img{
    animation-name: mostly-off;
    animation-duration: 1.9s;
    animation-timing-function: ease-in-out;
}
.mostly__title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    font-family: sans-serif;
    color: #fff;
}

.mostly:hover .mostly-img{
    animation-name: mostly-on;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}
.mostly::after,
.mostly::before{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    animation-duration: 1s;
}
.mostly::after{
    background-image: url("../img/iphone-front.png");
    right: 21%;
    transform: translate(0, 200%) rotate(20deg);
    animation-name: front-off;
}
.mostly::before{
    background-image: url("../img/iphone-back.png");
    left: 21%;
    transform: translate(0, 200%) rotate(-20deg);
    animation-name: back-off;
}
.mostly:hover::after,
.mostly:hover::before{
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.mostly:hover::after{
    animation-name: front-on;
}
.mostly:hover::before{
    animation-name: back-on;
}

@keyframes mostly-on{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
@keyframes mostly-off{
    0%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(15px);
    }
    70%{
        transform: translateY(-10px);
    }
    80%{
        transform: translateY(7px);
    }
    90%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes front-on{
    0%{
        right: 21%;
        transform: translate(0, 200%) rotate(20deg);
    }
    60%{
        right: 21%;
        transform: translate(0, 0) rotate(0deg)
    }
    100%{
        right: 33%;
        transform: translate(0, 0) rotate(0deg)
    }
}
@keyframes front-off{
    0%{
        right: 33%;
        transform: translate(0, 0) rotate(0deg)
    }
    60%{
        right: 21%;
        transform: translate(0, 0) rotate(0deg)
    }
    100%{
        right: 21%;
        transform: translate(0, 200%) rotate(20deg);
    }
}
@keyframes back-on{
    0%{
        left: 21%;
        transform: translate(0, 200%) rotate(-20deg);
    }
    60%{
        left: 21%;
        transform: translate(0, 0) rotate(0deg)
    }
    100%{
        left: 33%;
        transform: translate(0, 0) rotate(0deg)
    }
}
@keyframes back-off{
    0%{
        left: 33%;
        transform: translate(0, 0) rotate(0deg) 
    }
    60%{
        left: 21%;
        transform: translate(0, 0) rotate(0deg)
    }
    100%{
        left: 21%;
        transform: translate(0, 200%) rotate(-20deg);      
    }
}