.mavic{
    width: 640px;
    height: 400px;
    background-color: #76aa31;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.mavic-img{
    transition: 2s;
}
.mavic__title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    font-family: sans-serif;
    color: #fff;
}

.mavic:hover .mavic-img{
    transform: translateY(-100%);
}

.mavic::after,
.mavic::before{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
}
.mavic::after{
    background-image: url("../img/iphone-front.png");
    right: 25%;
    transform: translate(0, 200%) rotate(20deg);
    transition: 3s;
}
.mavic::before{
    background-image: url("../img/iphone-back.png");
    left: 25%;
    transform: translate(0, 200%) rotate(20deg);
    transition: 3s;
}
.mavic:hover::after{
    transform: translate(0, 0) rotate(0deg);
    right: 21%;
}
.mavic:hover::before{
    transform: translate(0, 0) rotate(0deg);
    left: 21%;
}